.pageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 768px;
    width: 100%;
}

.comboContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 30%;
    background-color: lightslategrey;
}
.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    height: 150px;
    width: 200px;
    margin: 50px;
    background-color: lightslategrey;
}
.comboPic {
    width: 85%;
    height: 40%;
    background-color: aqua;
}
.comboDesc {
    width: 85%;
    height: 40%;
    background-color:blue
}
#generate {
    border: solid;
}