.pageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 768px;
    width: 100%;
}

.comboContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 30%;
    background-color: lightslategrey;
}
.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    height: 150px;
    width: 200px;
    margin: 50px;
    background-color: lightslategrey;
}
.comboPic {
    width: 85%;
    height: 40%;
    background-color: aqua;
}
.comboDesc {
    width: 85%;
    height: 40%;
    background-color:blue
}
#generate {
    border: solid;
}

@media screen and (max-width: 768px) {
    
    .pageContainer {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }

    .comboContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 85%;
        background-color: lightslategrey;
    }
    .comboTitle {
        display: block;
        font-size: large;
        width: 100%;
        height: 5%;
    }
    .comboPic {
        width: 85%;
        height: 40%;
        display: block;
        background-color: aqua;
    }
    .comboDesc {
        display: block;
        width: 85%;
        height: 40%;
        background-color:blue
    }
    .btnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid;
        height: 150px;
        width: 200px;
        margin: 50px;
        background-color: lightslategrey;
    }
}