/* colours to be changed, box resize */

/* main title h1 */
.title{
 font-size: 4rem;
 display: flex;
 justify-content: center;
 margin-top: 200px;
color: black;
}

.pageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 768px;
    width: 100%;
}
/* div container around button */
.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    height: 150px;
    width: 200px;
    margin: 50px;
    background-color: lightslategrey;
}

/* button in container */
#generate {
    border: solid;
}

